<a href="https://colab.research.google.com/github/Abhisheksingh12345/ADT/blob/master/dev1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [1]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.4.1.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 2.0 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.1-py2.py3-none-any.whl size=311285388 sha256=dc5cbc842073306a1cc34cb82615cba29d311b9799ed2fcd8b587784455acbbd
  Stored in directory: /root/.cache/pip/wheels/0d/77/a3/ff2f74cc9ab41f8f594dabf0579c2a7c6de920d584206e0834
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.1

In [3]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
import matplotlib.pyplot as plts

In [4]:
spark = SparkSession.builder.appName('dev_1').master('local[4]').getOrCreate()

In [5]:
sc = spark.sparkContext

In [6]:
table_A_path = '/content/drive/MyDrive/datasets/Table_A.csv'
table_B_path = '/content/drive/MyDrive/datasets/Table_B.csv'
table_C_path = '/content/drive/MyDrive/datasets/Table_C.csv'

In [7]:
table_A_df = spark.read.format('csv').option('inferSchema',True).option('header',True).load(table_A_path)

In [8]:
table_B_df = spark.read.format('csv').option('inferSchema',True).option('header',True).load(table_B_path)

In [9]:
table_C_df = spark.read.format('csv').option('inferSchema',True).option('header',True).load(table_C_path)

In [12]:
table_A_df.show()

+------+----------+------+----------+------------+
|cif_id|account_no|amount|department|Pride_rating|
+------+----------+------+----------+------------+
|  1222|       A01| 50000|       C2E|         3.0|
|  1353|       A03| 50000|       MOT|         1.0|
|  1262|       B01|100000|       IIT|         2.5|
|  1373|       BC2|300000|       C2E|         1.5|
+------+----------+------+----------+------------+

In [13]:
table_B_df.show()

+------+-------+-----------+---------+---------------------+
|cif_id|loan_no|loan_amount|loan_type|last_date_for_payment|
+------+-------+-----------+---------+---------------------+
|  1222|    A01|     100000|     HOME|           2023-09-31|
|  1353|    A03|     200000| PERSONAL|           2024-01-02|
|  1046|    C21|     100000|      CAR|           2023-10-11|
|  1400|    C23|     300000|     HOME|           2023-10-15|
|  1501|    D12|     400000|EDUCATION|           2024-01-02|
+------+-------+-----------+---------+---------------------+

In [14]:
table_C_df.show()

+-------+----------+------------+-----------+
|acct_no|saving_acc|current_acct|  open_date|
+-------+----------+------------+-----------+
|     12|     20000|       50000| 01-07-2023|
|     21|     30000|       60000| 23-06-2022|
|     31|     30000|        null| 2021-05-23|
|     13|    100000|        null| 02-07-2023|
|     41|      null|        null| 10-01-2023|
|     14|    320000|      600000| 05-01-2022|
+-------+----------+------------+-----------+

In [10]:
withoutscpace_tableC_df = table_C_df.na.fill("").withColumn("open_date",date_format(to_date(col("open_date"), "dd-MM-yyyy"), "yyyy-MM-dd"))

In [11]:
withoutscpace_tableC_df.show()

+-------+----------+------------+----------+
|acct_no|saving_acc|current_acct| open_date|
+-------+----------+------------+----------+
|     12|     20000|       50000|2023-07-01|
|     21|     30000|       60000|2022-06-23|
|     31|     30000|        null|      null|
|     13|    100000|        null|2023-07-02|
|     41|      null|        null|2023-01-10|
|     14|    320000|      600000|2022-01-05|
+-------+----------+------------+----------+

In [ ]:
#@title Q1

In [ ]:
#@title Q2

In [ ]:
#@title Q3 Merge table A table B if A, loan no is null and last_date payroll >= 2024 then delete whole row
Q_3_df = table_A_df.join(table_B_df, on=["cif_id"], how="left_outer") \
  .filter((table_B_df["loan_no"].isNull()) & (table_B_df["last_date_for_payment"] >= "2024-01-01"))
Q_3_df.show()
Q_3_= table_A_df.join(Q_3_df.select("cif_id"), on=["cif_id"], how="left_anti")
Q_3.show()

In [ ]:
#@title Q4

In [ ]:
#@title Q5

In [ ]:
#@title Q6 For table C create a new Column which have open_date in format YYYMMM
Q6_df = withoutscpace_tableC_df.withColumn("new date", date_format(col('open_date'), 'yyyyMM'))
Q6_df.show()

In [ ]:
#@title Q7 For table A group by deparment order of all column amonut > 1L
Q_7 = table_A_df.filter(col('amount') > 100000).groupBy(col('department')).agg(count(col('cif_id')).alias('count')).orderBy('count')
Q_7.show()